<div class="resources container100" id="resources">
  <div class="jumbotron">
    <h2>Resources</h2>
    <p id="resources-explanation">
      <em>This is a forever growing list of resources I have used that I found helpful or that I glanced at and would like to get back to at some point in the future. Although this section is mostly for the sake having a personal online bookmark system, I feel that these are resources any beginning programmer could benefit from. My goal for the next stage of this app is to have a CMS for adding content like projects and bookmarks instead of manually having to seed it.</em>
    </p>
      <% @bookmarks.each do |category| %>
        <div class="category resource-category-<%= category.first.language.id %>">
          <h3 class="category-title"><%= category.first.language.name %></h3>
          <% category.each do |b| %>
            <div class="resource">
              <h4><a target="_blank" href="<%= b.url %>"><%= b.name %></a></h4>
              <p class="resource-description"><%=raw b.description %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <%= render 'top_button' %>
  </div>
</div>